<div class="full-bg">
  <nav class="menu">
    <ul class="side-menu list-unstyled">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Letter</a>
      </li>
    </ul>
  </nav>
  <div class="menu-overlay">

  </div>
  <div class="container">
    <main>
      <!--LEFT SIDE Start-->

      <div class="row">
        <div class="col-md-4 left-side">
          <aside style="background: #38a4dd; color: #fff;">
            <figure class="mb-0">
              <img src="/assets/img/al-rayhan.jpg" alt="" />
              <div class="fadeInDown">
                <h1>Al Rayhan</h1>
                <p class="h5 text-light">UI &amp; UX Expert</p>
              </div>
            </figure>
            <div class="toggle-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="row no-gutters pt-2 py-md-3 hvr-glow">
              <div class="col-3 text-center">
                <span class="fa fa-user-o"></span>
              </div>
              <div class="col-9 pr-3">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enim ad minim veniamnt in culpa quie officia deserunt mollit.
                </p>
                <hr>
              </div>
            </div>
            <div class="row no-gutters pt-2 py-md-3 hvr-glow">
              <div class="col-3 text-center">
                <span class="fa fa-phone"></span>
              </div>
              <div class="col-9 pr-3">
                <a class="decoration-none" href="tel:(880) 1737-662662">(880) 1737-662662</a><br>
                <p class="text-grey mb-0">Mobile</p><br>
                <a class="decoration-none" href="tel:(880) 1771-299299">(880) 1771-299299</a><br>
                <p class="text-grey mb-0">Work</p>
                <hr>
              </div>
            </div>
            <div class="row no-gutters pt-2 py-md-3 hvr-glow">
              <div class="col-3 text-center">
                <span class="fa fa-envelope"></span>
              </div>
              <div class="col-9 pr-3">
                <a class="decoration-none" href="mailto:mail@alrayhan.com">mail@alrayhan.com</a><br>
                <p class="text-grey mb-0">Personal</p><br>
                <a class="decoration-none" href="mailto:ar@deviserweb.com">ar@deviserweb.com</a><br>
                <p class="text-grey mb-0">Work</p>
                <hr>
              </div>
            </div>
            <div class="row no-gutters pt-2 py-md-3 hvr-glow">
              <div class="col-3 text-center">
                <span class="fa fa-map"></span>
              </div>
              <div class="col-9 pr-3">
                <address>
                                            24 Golden Tower<sup>(2nd floor)</sup><br>
                                            Amberkhana, Sylhet<br>
                                            <small class="text-grey">SYL-3RF87W</small>
                                        </address>
                <hr>
              </div>
            </div>
            <div class="row no-gutters pt-2 py-md-3 hvr-glow">
              <div class="col-3 text-center">
                <span class="fa fa-list-alt"></span>
              </div>
              <div class="col-9 pr-3 pb-4">
                <h3>Professional Skills</h3>
                <div class="pb-3">
                  <p>Adobe Photoshop</p>
                  <div class="skill">
                    <div class="achievement">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="pb-3">
                  <p>Adobe Illustrator</p>
                  <div class="skill">
                    <div class="achievement">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="pb-3">
                  <p>HTML 5 &amp; CSS 3</p>
                  <div class="skill">
                    <div class="achievement">
                      <span></span>
                    </div>
                  </div>
                </div>
                <div class="pb-3">
                  <p>Java Script</p>
                  <div class="skill">
                    <div class="achievement">
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <!--LEFT SIDE Ends-->

        <!--RIGHT SIDE Start-->

        <div class="col-md-8 right-side">
          <article class="bg-white my-3 mt-md-4 mb-md-5 pt-5 px-4 pl-sm-0 pr-sm-3 pb-4 box-shadow-blue">
            <div class="row">
              <div class="col-sm-2 text-center pr-sm-0 pb-3">
                <span class="fa fa-check"></span>
              </div>
              <div class="col-sm-10 pl-0">
                <h2 class="pb-sm-3 pb-md-4 text-center">Work Experiences</h2>
                <div class="py-2 pr-md-3 pr-lg-3">
                  <h4>UI &amp; WEB DESIGNER <a class="decoration-none" href="#">@Academy</a></h4>
                  <a class="decoration-none text-primary" href="#">JAN 2013 - DEC 2014</a>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <hr>
                <div class="py-2 pr-md-3 pr-lg-3">
                  <h4>Creative Director <a class="decoration-none" href="#">@DeviserWeb</a></h4>
                  <a class="decoration-none text-primary" href="#">MAR 2012 - DEC 2013</a>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <hr>
                <div class="py-2 pr-md-3 pr-lg-3">
                  <h4>Graphic Designer <a class="decoration-none" href="#">@CreativeWorld</a></h4>
                  <a class="decoration-none text-primary" href="#">JAN 2009 - DEC 2011</a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
          </article>

          <article class="bg-white my-3 mt-md-4 mb-md-5 pt-5 px-4 pl-sm-0 pr-sm-3 pb-4 box-shadow-blue">
            <div class="row">
              <div class="col-sm-2 text-center pr-sm-0 pb-3">
                <span class="fa fa-graduation-cap"></span>
              </div>
              <div class="col-sm-10 pl-0">
                <h2 class="pb-sm-3 pb-md-4 text-center">Education</h2>
                <div class="py-2 pr-md-3 pr-lg-3">
                  <h4>Art &amp; Multimedia <a class="decoration-none" href="#">@Lorem</a> University</h4>
                  <a class="decoration-none text-primary" href="#">JAN 2013 - DEC 2014</a>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <hr>
                <div class="py-2 pr-md-3 pr-lg-3">
                  <h4>Post Graduate <a class="decoration-none" href="#">@Lorem</a> High School</h4>
                  <a class="decoration-none text-primary" href="#">MAR 2012 - DEC 2013</a>
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
                <hr>
                <div class="py-2 pr-md-3 pr-lg-3">
                  <h4>TTMP Degree <a class="decoration-none" href="#">@Creative</a> School</h4>
                  <a class="decoration-none text-primary" href="#">JAN 2009 - DEC 2011</a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
          </article>

          <article class="bg-white mt-4 mb-5 pt-5 pr-3 pb-4 box-shadow-blue">
            <div class="row">
              <div class="col-sm-2 text-center pr-0">
                <figure class="watch">
                  <img src="/assets/img/watch.png" alt="" />
                </figure>
              </div>
              <div class="col-sm-10">
                <h2 class="pb-4 text-center">Interests</h2>
                <div class="d-flex justify-content-between interests pl-4">
                  <figure>
                    <img class="img-fluid" src="/assets/img/guitar.png" alt="" />
                  </figure>
                  <figure>
                    <img class="img-fluid" src="/assets/img/ice-cream.png" alt="" />
                  </figure>
                  <figure>
                    <img class="img-fluid" src="/assets/img/airplane.png" alt="" />
                  </figure>
                  <figure>
                    <img class="img-fluid" src="/assets/img/basketball.png" alt="" />
                  </figure>
                  <figure>
                    <img class="img-fluid" src="/assets/img/pencil.png" alt="" />
                  </figure>
                </div>
              </div>
            </div>
          </article>

          <article class="bg-white mt-4 mb-5 pt-4 pr-3 pb-4 box-shadow-blue text-center">
            <div class="row">
              <div class="col-sm-6 pb-2 pb-sm-0">
                <a class="decoration-none text-primary" href="#">www.alrayhan.com</a>
              </div>
              <div class="col-sm-6">
                <a class="decoration-none text-primary" href="#">dribbble.com/rtralrayhan</a>
              </div>
            </div>
          </article>

          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>

        </div>
        <!--RIGHT SIDE Ends-->

      </div>
    </main>


  </div>
</div>
